body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em;
  font-family: Verdana;
  font-size: 1.2rem;
  background-color: white;
}

p {
  font-size: smaller !important;
}

.container {
  display: flex;
  flex-direction: column;
}

.container>div {
  width: 50%;
  text-align: left;
  padding: 0.8em 1.2em;
  border: solid 0.1em black;
}

.container-row {
  display: flex;
  flex-direction: row;
  font-size: smaller;
  /* border-bottom: solid 0.1em black !important; */
}

.container-row>div {
  width: 50%;
  text-align: left;
  /* padding: 0.8em 1.2em; */
  /* border: solid 0.1em black; */
}

.right-column {
  padding: 0em 1.2em;
  /* background-color: yellow; */
}

.scrollable {
  overflow: hidden;
  position: relative;
  width: 100%;
  overflow-x: auto;
}

.scrollable>div,
td,
th {
  min-width: 50vh;
}

table {
  border-collapse: collapse;
  width: auto;
  table-layout: fixed !important;
}

th,
td {
  border: 0.1em solid #ccc;
  padding: 0.4em 0.6em;
  vertical-align: top;
  white-space: normal;
  width: 50% !important;
  min-width: min-content;
  /* word-wrap: break-word; */
  /* word-break: break-word; */
}

.three-column>th,
td {
  width: 33.33% !important;
}

th {
  background: #ddd;
  font-weight: bold;
  text-align: left;
}

a {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a:active {
  color: #0000FF;
}

pre {
  margin: 0em !important;
  background-color: white !important;
  padding: 0.4em 0.6em !important;
}

ul {
  /* padding-left: 0.8em; */
  margin-top: 0em !important;
  font-size: smaller !important;
}

li {
  padding-bottom: 0.2em !important;
}


code[class*="language-"],
pre[class*="language-"] {
  font-size: 1rem !important;
  background-color: #F0F0F0 !important; 
  text-shadow: none !important;
}


.token {
     background-color: #F0F0F0 !important; 
}

